<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }

        .black{
            color: whitesmoke;
        }

    </style>
</head>
<body>

    {% for name in names %}

    <p class="black">wassup man {{ name }}</p>
        
    {% endfor %}
    
</body>
</html>